:root{
    --clr-grad-700: linear-gradient(to right, #040a2f, #4c1583);

    --clr-tran-10: rgba(255, 255, 255, 0.1);
    --clr-tran-15: rgba(255, 255, 255, 0.15);
    --clr-tran-20: rgba(255, 255, 255, 0.20);
    --clr-tran-25: rgba(255, 255, 255, 0.25);
    --clr-tran-30: rgba(255, 255, 255, 0.30);
}


body
{
	background-color: rgb(8, 8, 34);
    background: var(--clr-grad-700);
}

.container 
{
    color: white;
    font-family: Arial, sans-serif;
}


.Navbar
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
    overflow: auto;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--clr-tran-15);
    text-align: center;
    
}
.Navbar a
{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 36px;
    text-align: center;
}

.Navbar a:hover
{
    background-color: var(--clr-tran-20);
}

.Blogs
{
    text-align: center;
    color: white;
}

.Blogs_grid
{
    margin-top: 20px;
    padding: 10px;
    background-color: var(--clr-tran-15);
    display: grid;
    grid-template-columns: 	repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: 	repeat(auto-fit, minmax(300px, 1fr));
    
}
.Blog_link
{
    margin: 10px;
    background-color: var(--clr-tran-20);
}
.Blogs_grid div:hover
{
    background-color: var(--clr-tran-30);
}
.Blog_link img
{
    max-width: 350px;
    max-height: 200px;
    height: auto;
}









.blog_uni
{
    text-align: center;
    background-color: var(--clr-tran-15);
    margin: 40px;
    padding: 40px;
}


.blog_high img
{
    width: 50%;
    height: auto;
    margin-bottom: 60px;
}

.blog_low
{
    text-align: left;
    
    font-size: large;
}